@font-face{
	font-family: Agarde;
	src:url(../font/ITCAvantGardeStd-Bold.otf);
	font-weight: bold;
}
@font-face{
	font-family: Akura;
	src:url(../font/AkkuratStd-Regular.otf);
}
*{
	box-sizing: border-box;
}
body{
	font-family: Agarde;
	background-color: #728;
	padding: 0;
	margin: 0;
}
.section{
	background-color: #182727;
	display: inline-block;
	width: 100%;
}

.section_inner{
	display: inline-block;
	background-color: #272902;
	width: 100%;
}
.left_comp{
	display: inline-block;
	background-color: #827;
	padding: 20px;	
	width: 35%;	
	float: left;
}
.form{
	background-color: #928382;
	display: inline-block;
	padding: 40px;
}
.input{
	width: 240px;
	display: block;
	height: 50px;
	padding: 20px;
	margin: 20px;
	font-family: Akura;
}
.button{
	width: 240px;
	margin: 20px;
	display: block;
	height: 50px;
	padding: 20px;
	background-color: #000;
	color: #fff;
	border: none;
	font-family: Agarde;
}
.right_comp{
	display: inline-block;
	background-color: #273930;
	padding: 20px;
	width: 60%;
	text-align: center;
}
.output{
	background-color: #928337;
	padding: 20px;
	margin: 0 auto;
	text-align: left;
	display: inline-block;
}
.output ul{
	padding: 0; 
	list-style: none;
	margin: 0;
}
.output ul li{
	padding: 0; 
	margin: 0;
}
.output ul li h3{
	font-family: Akura;
	padding: 0; 
	margin: 0;
	display: inline-block;
	background-color: #729382;
}
.r_right{
	background-color: rgba(10,10,10,0.9);
	width: 5%;
	display: block;
	float: right;
	height: 680px;
}