@font-face{
	font-family: Agarde;
	src:url(../font/ITCAvantGardeStd-Bold.otf);
	font-weight: bold;
}
@font-face{
	font-family: Akura;
	src:url(../font/AkkuratStd-Regular.otf);
}
*{
	box-sizing: border-box;
}
body, html{
	font-family: Agarde;
	background-color: #000;
	padding: 0px;
	margin: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.section{
	background-color: rgba(0,0,0,0.2);
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.section_inner{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.left_comp{
	display: inline-block;
	background-color: rgba(253,253,253,1.0);
	padding: auto 20px;	
	width: 35%;	
	float: left;
	text-align: center;
	height: 100%;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}
.form{
	background-color: rgba(0,0,0,0.0);
	display: inline-block;
	padding: 40px;
	margin: 0 auto;
}

.logo{
	background-color: rgba(0,0,0,0.0 );
	margin-bottom: 10px;
}
.logo img{
	width: 200px;
}
.error{
	color: rgba(215,0,90,0.85);
	display: inline-block;
	font-family: Akura;
	font-size: 14px;
	line-height: 14px;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 10px;
}
.no_error{
	display: none;
}
.input{
	width: 240px;
	display: block;
	height: 50px;
	padding: 20px;
	margin: 20px;
	margin-top: 0;
	font-family: Akura;
	border-radius: 2px;
	border: solid thin rgba(0,0,0, 0.2);
}
.button{
	width: 240px;
	margin: 20px auto;
	display: block;
	height: 50px;
	padding: 10px 20px;
	background-color: #000;
	color: #fff;
	border-radius: 2px;
	border: solid thin rgba(0,0,0, 0.2);
	font-family: Agarde;
	box-shadow: 0px 7px 9px rgba(0,0,0,0.25);
}
.input:active, .input:hover{
	box-shadow: 0px 5px 7px rgba(0,0,0,0.1);
}
.button:hover{
	width: 238px;
	height: 50px;
	box-shadow: 0px 5px 7px rgba(0,0,0,0.2);
}
.right_comp{
	width: 60%;
	text-align: center;
	height: 100%;
  	float: left;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
	transition: background-color 2s;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	border-left:solid 4px rgba(70, 180, 160, 0.9);
	background-position: center;
}
.right_comp_hover{
	width: 60%;
	text-align: center;
	height: 100%;
  	float: left;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
	transition: background-color 2s;
	background-size: cover;
	border-left:solid 4px rgba(70, 180, 160, 0.9);
	background-position: center;
	background-image: url("../img/bg.jpg"),linear-gradient(rgba(215,0,90, 0.6), rgba(70, 180, 160,0.99)), linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0,0.4));
	background-blend-mode: soft-light;
}
.right_comp_output{
    opacity: 100;
}
.output{
	width: 50%;
	opacity: 0;
	background-color: rgba(255,255,255,0.7);
	border-bottom: solid 4px rgba(70, 180, 160, 0.9);
	border-right: solid 4px rgba(70, 180, 160, 0.9);
	border-top: solid 4px rgba(70, 180, 160, 0.9);
	color: #000;
	padding: 60px;
	padding-right: 0;
	margin: 0;
	text-align: left;
	float: left;
	transition: opacity 2s;
	animation: output 3s;
}
.back{
	display: inline-block;
	background-color: rgba(215,0,90,0.6);
	float: right;
	margin-right: 10px;
	padding:8px;
	margin: 0;
	border-radius: 2px 0 0 2px;
	border: none;
	transition: background-color 2s;
}
.back:hover{
	background-color: rgba(70, 180, 160, 0.9);
}
.back img{
	height: 18px;
	opacity: 40;
	margin: 0;
}
@keyframes output {
    from {margin-left: -30px;}
    to {margin-left: 0px;}
} 
.output_inner{
	display: inline-block;
}
.output h2{
	padding: 5px 0;
	margin: 0;
}
.output ul{
	padding: 20px 0; 
	list-style: none;
	margin: 0;
}
.output h4{
	background-color: rgba(70, 180, 160, 0.5);
	color: rgba(255,255,255,0.9);
	display: inline-block;
	padding: 10px;
	margin: 0;
	font-family: Akura;
}
.sub_head{
	background-color:rgba(215,0,90,0.6);
	color: rgba(255,255,255,0.8);
	padding: 5px;
	display: inline-block;
	margin-bottom: 5px;
	letter-spacing: 1px;
}
.output ul li{
	padding: 0; 
	margin: 0;
	margin-top: 3px;
	display: block;
}
.output ul li h3{
	font-family: Akura;
	padding: 0;
	margin: 0;
	display: inline-block;
	font-size: 16px;
}
.r_right{
	background: linear-gradient(rgba(70, 180, 160, 0.9), rgba(215,0,90,0.6));
	width: 5%;
	display: block;
	float: right;
	height: 100%;
	transition: 2s;
	color: transparent;
}
.r_right:hover{
	background: linear-gradient(rgba(215,0,90,0.6), rgba(70, 180, 160, 0.9));
}